<!-- popis članaka -->
<h1>Create a new article</h1>
<%= form_with scope: :article, url: articles_path , local: true do |f| %>
  <!-- naslov članka -->
  <p>
    <%=f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <br>
  <!-- opis članka -->
  <p>
    <%=f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <!-- tipka za submitanje -->
  <p>
    <%= f.submit %>
  </p>
<% end %>